<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>My Dropbox</title>
<style>
    body {
      background-image: url('static/img/test.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;  
      background-size: cover;
    }
</style>
</head>
<body>
  
    <a href="{{ url_for('home') }}">
    <img src="/static/img/logo.png" width="250" height="500" alt="Logo" class="img-thumbnail">
    </a>

    <h1 style="color:white;">Sign Up</h1>

    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for('home') }}" style="color:white;background-color:green;">Home Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('signup') }}" style="color:white;background-color:green;">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('signin') }}" style="color:white;background-color:green;">Sign In</a>
        </li>
      </ul>

    <div class="container">
        <div class="row">
          <div class="col">
            <form action="#" method="POST">
                <div class="form-group">
                  <label for="exampleInputEmail1">Username</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username" name="entered_username">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Emai address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="entered_email">
                    <small id="emailHelp" style="color:black;">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="entered_pass">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Confirm Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password" name="entered_pass2">
                  </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">I agree with the terms of use</label>
                </div>
                <button type="submit" style="background-color:white;color:black;" class="btn btn-primary">Sign Up</button>
              </form>
          </div>
          <div class="col">
            <img src="/static/img/homeImg1.jpg" alt="" width="600" height="500">
          </div>
          <div class="w-100"></div>
          <div class="col">Column</div>
          <div class="col">Column</div>
        </div>
      </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html> 